<html>
{% load staticfiles %}

<head>

	<!-- Global Site Tag (gtag.js) - Google Analytics -->                           
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-106651446-1"></script>
	<script>                                                                        
	  window.dataLayer = window.dataLayer || [];                                    
	  function gtag(){dataLayer.push(arguments)};                                   
	  gtag('js', new Date());                                                       
	                                                                                
	  gtag('config', 'UA-106651446-1');                                             
	</script>                                                                        
	                                                                                
	                                                                                
	<script>                                                                        
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){  
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
	                                                                                
	  ga('create', 'UA-106651446-1', 'auto');                                       
	  ga('send', 'pageview');                                                       
	                                                                                
	</script> 

	<!-- Required meta tags -->
    <meta charset="utf-8">

    <title>Como a Nike e a Adidas usaram mobile apps para estreitar o relacionamento com seus clientes</title>

    <link rel="icon" type="image/png" href="img/favicon_16x16.png" sizes="16x16" />
	<link rel="icon" type="image/png" href="img/favicon_32x32.png" sizes="32x32" />

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <meta name="description" content="As duas maiores empresas de sportwear do mundo apostaram suas fichas no desenvolvimento de apps" />

    <meta property="og:url" content="http://mobilegrowth.com.br{% url 'casenikeadidas" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="Como a Nike e a Adidas usaram mobile apps para estreitar o relacionamento com seus clientes" />
    <meta property="og:description" content="As duas maiores empresas de sportwear do mundo apostaram suas fichas no desenvolvimento de apps" />
    <meta property="og:image" content="img/p05-nike-snkrs02.png.jpg" />
    
    <meta name="twitter:card" content="summary">
    <meta name="twitter:url" content="http://mobilegrowth.com.br{% url 'casenikeadidas">
    <meta name="twitter:title" content="Como a Nike e a Adidas usaram mobile apps para estreitar o relacionamento com seus clientes">
    <meta name="twitter:description" content="As duas maiores empresas de sportwear do mundo apostaram suas fichas no desenvolvimento de apps">
    <meta name="twitter:image" content="img/p05-nike-snkrs02.png.jpg">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

    <!-- Bootstrap CSS -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <link href="https://fonts.googleapis.com/css?family=Ubuntu:300,300i,400,400i,700,700i" rel="stylesheet">

    <script src="js/main.js"></script>

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Josefin+Slab:100,100i,300,300i,400,400i,600,600i,700,700i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:300,300i,400,400i,500,500i,700,700i" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="css/style.css">

</head>

<body>
	<header class="jumbotron cover">
		<div class="row">
			<div class="col-md-2 col-sm-2 col-xs-12">
				<a href="{% url 'main"><img class="brand img-responsive" src="img/brand.png" /></a>
			</div>
			<div class="col-md-10 col-sm-10 col-xs-12" style="margin: initial 20px;">
				<h1>Mobile Growth</h1>
				<h3>Tudo sobre mobile apps para o seu negócio</h3>
			</div>	
 		</div>
	</header>
	<main class="post-page">

		<div class="container">
			<div class="row">
				<div class="col-md-8 col-sm-9">
					<img class="post-cover img-responsive" src="img/p05-nike-snkrs01.jpg" alt="Ops! Falha no carregamento da imagem... Segue direto para o post então, pode ser? ;-)" />
					<!--
					<p class="img-caption">Crédito da foto: <a href="https://visualhunt.com/re/20d0f6" target="_blank">Visualhunt.com</a> </p>
					-->
				</div>

				<div class="col-md-8 col-sm-9 post-content">
					<h6 class="post-date">Setembro 21, 2017</h6>

					<h2 class="title post-title">Como a Nike e a Adidas usaram mobile apps para estreitar o relacionamento com seus clientes</h2>
					<h4 class="subtitle post-subtitle">As duas maiores empresas de <i>sportwear</i> do mundo apostaram suas fichas no desenvolvimento de apps</h4>

					<p>As duas maiores empresas de <i>sportwear</i> do mundo apostaram suas fichas no desenvolvimento de aplicativos móveis buscando estabelecer um relacionamento mais próximo de seus clientes. Criaram um canal de marketing direto, aumentando a visibilidade da marca e o engajamento através de iniciativas inovadoras e o uso criativo das tecnologias móveis como GPS, <i>Bluetooth</i> e AR (Realidade Aumentada).</p>

					<p>Veremos a seguir 3 exemplos de apps desenvolvidos pela Adidas e Nike:</p>

					<h3 class="subtitle-content">1. Adidas Treino e Corrida</h3>

					<p>O Aplicativo Adidas Treino e Corrida  ajuda o usuário em seus treinos de corrida, incluindo centenas de planos de treino gratuitos criados pelos treinadores de elite da Adidas, ajudando na perda de peso, fortalecimento da musculatura e o aumento da flexibilidade.</p>

					<p>O App usa o GPS para monitorar o trajeto, ritmo e distância em ambientes externos. Ele conecta um monitor de frequência cardíaca compatível com <i>Bluetooth Smart</i> para precisão no <i>feedback</i> de cárdio.</p>

					<img class="img-responsive img-content center-block" src="img/p05-app-adidas.jpg" alt="Ops! Falha no carregamento da imagem... Continua lendo mesmo assim, tá? ;-)" />

					<h3 class="subtitle-content">2. Nik+ Run Club</h3>

					<p>O Nik+ Run Club segue na mesma linha do Adidas Treino e Corrida. Ele é um app com foco na corrida e acompanha os usuários em seus treinos, ajudando no cumprimento de suas metas. O app é capaz de  mostrar diferentes parâmetros do exercício físico feito. Um diferencial é a possibilidade de monitorar não só exercícios em parques ou na rua, mas também na esteira da academia ou em casa.</p>

					<p>A integração às redes sociais Facebook, Twitter e Path, possibilita receber incentivos dos amigos em tempo real. Além disso o usuário se cadastra no site e traça metas sempre que quiser se superar, ou seja, o Nike + Running não é só mais um aplicativo para corrida, é um assistente de corrida, que acompanha e motiva o usuário.</p>

					<img class="img-responsive img-content center-block" src="img/p05-nikplus.png" alt="Ops! Falha no carregamento da imagem... Continua lendo mesmo assim, tá? ;-)" />

					<p>Os dois exemplos mostrados até aqui (Adidas Treino e Corrida e Nik+ Run Club) são ótimas iniciativas das marcas em se aproximar dos clientes, possibilitando que o time de marketing e desenvolvimento de produtos tenham um canal direto de informação, sendo possível analisar os costumes, frequência da prática de exercícios e as necessidades pontuais de seus usuários, além de reforçar o alinhamento da marca com o seus clientes.</p>

					<h3 class="subtitle-content">3. Nike Snkr´s App</h3>

					<p>Já o Nike SNKR’s App, é um app para vender tênis com edições limitadas. A primeira ação do App foi vender a edição limitada do tênis Nike SB Dunk High Pro "Momofuku," um modelo desenhado em colaboração com o famoso chef de cozinha de NY, David Chang.</p>

					<img class="img-responsive img-content center-block" src="img/p05-nike-snkrs01.jpg" alt="Ops! Falha no carregamento da imagem... Continua lendo mesmo assim, tá? ;-)" />

					<p>Para desbloquear o modelo para compra no app, o usuário tinha de acessar a página do produto, tocar em um GIF e depois apontar a câmera do smartphone para um menu do restaurante Momofuku em Nova York (não sendo necessário estar fisicamente no restaurante para isso).</p>

					<p>Logo após, um modelo 3D dos tênis aparece na tela e o usuário tem a chance de comprar um par. Além disso, há cartazes fora dos restaurantes que podem ser utilizados com o recurso AR (Realidade Aumentada) do aplicativo para o desbloqueio da compra.</p>

					<img class="img-responsive img-content center-block" src="img/p05-nike-snkrs02.png" alt="Ops! Falha no carregamento da imagem... Continua lendo mesmo assim, tá? ;-)" />

					<p>No mês de maio deste ano, a empresa também apresentou o Stash, uma maneira para as pessoas desbloquearem produtos exclusivos no aplicativo SNRK’s com base na sua localização.</p>

					<p>Com o Nike SNKR’s, a Nike buscou engajar os usuários de um nicho de mercado da empresa através de uma ferramenta desenhada exclusivamente para falar com esse público. Engajou, tanto transacionalmente, possibilitando um prêmio (a possibilidade de compra de um modelo exclusivo e limitado), mas também engajou emocionalmente, se relacionando diretamente com o cliente e empoderando este cliente durante o processo de compra.</p>

					<p>Gostou do conteúdo visto aqui? Então saiba quais são os <a href="http://mobilegrowth.com.br{% url 'fivereasons">Cinco motivos para apostar em um app</a> e descubra o que tem levado as empresas a investirem em aplicativos para <i>smartphones</i>.</p>

					<div class="post-share-bts">
						<p>Compartilhe</p>
						
						<a class="share-btn" title="Compartilhe no LinkedIn" href="https://www.linkedin.com/shareArticle?mini=true&url=http://mobilegrowth.com.br{% url 'casenikeadidas" target="_blank"><img src="img/In-White-128px-R_color.png" alt="Compartilhe no LinkedIn" /></a>

						<a class="share-btn" title="Compartilhar no Facebook" data-mobile-iframe="true" data-href="http://mobilegrowth.com.br{% url 'casenikeadidas" href="https://www.facebook.com/sharer/sharer.php?u=http://mobilegrowth.com.br{% url 'casenikeadidas&src=sdkpreparse" target="_blank"><img src="img/FB-f-Logo_color_72.png" alt="Compartilhar no Facebook" /></a>
						<!--
						<a class="share-btn" title="Compartilhe no Twitter" href="https://www.facebook.com/mobilegrowth.com.br/" target="_blank"><img src="" alt="Compartilhe no Twitter" /></a>
						-->
						<a class="share-btn" title="Compartilhar no WhatsApp" href="https://api.whatsapp.com/send?text=http%3A%2F%2Fwww.mobilegrowth.com.br{% url 'casenikeadidas"><img src="img/WhatsApp_Logo-01_color.png" alt="Compartilhar no WhatsApp" /></a>

					</div>
				</div>
				<div class="col-md-8 col-sm-9">
					<div class="author">
						<img src="img/gil.jpg" class="pic-profile" />
						<div>
							<p>Jackson Gil Capelari</p>
							<p>Setembro 21, 2017</p>
						</div>
					</div>
				</div>
			</div>
			
			<div class="row">
				<div class="col-md-8 col-sm-9">
					<div class="post-references">
						<p>&nbsp;</p>
						<p>Fontes para a construção desse artigo:</p>
						<p><a href="http://www.todomundocorre.com.br/aplicativo-adidas-treino-e-corrida/" target="_blank">http://www.todomundocorre.com.br/aplicativo-adidas-treino-e-corrida/</a></p>
						<p><a href="http://www.aplicativosdesaude.com.br/nike-running-aplicativo-para-corrida/ " target="_blank">http://www.aplicativosdesaude.com.br/nike-running-aplicativo-para-corrida/ </a></p>
						<p><a href="https://www.nike.com/pt/pt_pt/c/nike-plus/running-app-gps " target="_blank">https://www.nike.com/pt/pt_pt/c/nike-plus/running-app-gps </a></p>
						<p><a href="https://www.engadget.com/2017/06/23/nike-snkrs-augmented-reality/" target="_blank">https://www.engadget.com/2017/06/23/nike-snkrs-augmented-reality/</a></p>
						
					</div>
				</div>
			</div>
		</div>
	</main>
	<footer >
		<div class="container">
			<div class="row">
				
				<a class="share-btn fb-share-button" alt="Visite Mobile Growth no Facebook" href="https://www.facebook.com/mobilegrowth.com.br/" target="_blank"><img src="img/FB-f-Logo_white_72.png" alt="Visite o blog Mobile Growth no Facebook" /></a>
				
			</div>
			<p>&nbsp;</p>
			<div class="row copyright">
				<p>Mobile Growth Blog. Todos os direito reservados. Setembro, 2017.</p>
			</div>
		</div>
	</footer>
</body>

</html>
